{
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-proposal-class-properties"],
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }]
      ]
    }
  }
}
