{
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "presets": [
    "flow",
    ["env", {
      "useBuiltIns": true,
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    }
  }
}
